* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: #000;
}

ol, ul {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}